.menu, .submenu, .menu__submenu__item {
    font-size: 0;
}
/* 11 */
.menu li {
    float: left;
    height: 30px;
    padding: 5px 20px;
    background: gray;
    border-bottom: 5px solid rgb(103, 103, 246);
    position: relative;
    padding-top: 12px;
}
/* 10 */
.submenu, .menu__submenu__item {
    position: absolute;
    left: 0;
    top: 52px;
}
/* 10 */
.submenu__item {
    border: 0.5px solid blue;
}
/* 10 */
.submenu, .submenu__item, .submenu__item__link {
    width: 150px;
}
/* 20 */
.menu .menu__link, 
/* 10 */
.submenu__link, .submenu__item__link, 
/* 1 */
span {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
/* 21 */
.menu li:hover, 
/* 11 */
.submenu li {
    background: rgb(103, 103, 246);
}
/* 20 */
.menu .menu__submenu__item {
    left: 190px;
    top: 0;
}
/* 11 */
.menu__submenu__item li, 
/* 10 */
.submenu {
    display: none;
}
/* 41 */
.menu .submenu__item:hover .menu__submenu__item li, 
/* 22 */
.menu li:hover ul, 
/* 10 */
.menu__link, 
/* 10 */
.submenu__item__link {
    display: block;
}
/* 1 */
span {
    padding-left: 66px;
}